@import "_variables.scss";

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

canvas {
  position: absolute;
  z-index: 1;
}

.wrap--gameBoard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  padding: 0.25em 0.5em;
}

.wrap--buttons {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
}

.lit--blue--text {
  text-shadow: $lit--blue;
}
.lit--white {
  box-shadow: $lit--white;
}
.lit--green {
  box-shadow: $lit--green;
}
