.wrap__awesomemeter {
  position: relative;
  width: 75%;
  height: 1em;
  border: 1px solid white;
  border-radius: 20px;
}

.meter {
  position: absolute;
  width: var(--meter-fill);
  height: 100%;
  border-radius: 20px;
  background-color: #228dff;
  box-shadow: $lit--blue;
  transition: width 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}
