.tile {
  position: absolute;
  width: 4em;
  height: 4em;
  border-radius: 25%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  z-index: 3;
}

.lit--white {
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px white,
    0 0 70px white, 0 0 80px white, 0 0 100px white, 0 0 150px white;
}
.lit--green {
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #5aff18,
    0 0 70px #5aff18, 0 0 80px #5aff18, 0 0 100px #5aff18, 0 0 150px #5aff18;
}

.lit--blue {
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
    0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
}

@keyframes flashScore {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: scale(2);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.flashScore {
  -webkit-animation: flashScore 0.75s ease-in-out 1;
  -moz-animation: flashScore 0.75s ease-in-out 1;
  animation: flashScore 0.75s ease-in-out 1;
}

@keyframes changeColor--white {
  from {
    background-color: transparent;
  }

  to {
    background-color: white;
  }
}

@keyframes changeColor--blue {
  from {
    background-color: transparent;
  }

  to {
    background-color: #228dff;
  }
}

@keyframes changeColor--green {
  from {
    background-color: transparent;
  }

  to {
    background-color: #5aff18;
  }
}
.changeColor--white {
  -webkit-animation: changeColor--white 0.2s ease-in-out 1;
  -moz-animation: changeColor--white 0.2s ease-in-out 1;
  animation: changeColor--white 0.2s ease-in-out 1;
}

.changeColor--blue {
  -webkit-animation: changeColor--blue 0.2s ease-in-out 1;
  -moz-animation: changeColor--blue 0.2s ease-in-out 1;
  animation: changeColor--blue 0.2s ease-in-out 1;
}

.changeColor--green {
  -webkit-animation: changeColor--green 0.2s ease-in-out 1;
  -moz-animation: changeColor--green 0.2s ease-in-out 1;
  animation: changeColor--green 0.2s ease-in-out 1;
}

/* From animate.css */
@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation: shake 0.35s ease-in-out 1;
  -moz-animation: shake 0.35s ease-in-out 1;
  animation: shake 0.35s ease-in-out 1;
  -webkit-animation-name: shake;
  animation-name: shake;
}
