.tile {
  position: absolute;
  width: var(--tile-size);
  height: var(--tile-size);
  border-radius: 10px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  z-index: 3;
}

@keyframes flashScore {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: scale(2);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.flashScore {
  animation: flashScore 0.75s ease-in-out 1;
}

@keyframes changeColor--white {
  from {
    background-color: transparent;
  }

  to {
    background-color: white;
  }
}

@keyframes changeColor--blue {
  from {
    background-color: transparent;
  }

  to {
    background-color: #228dff;
  }
}

@keyframes changeColor--green {
  from {
    background-color: transparent;
  }

  to {
    background-color: #5aff18;
  }
}
.changeColor--white {
  animation: changeColor--white 0.2s ease-in-out 1;
}

.changeColor--blue {
  animation: changeColor--blue 0.2s ease-in-out 1;
}

.changeColor--green {
  animation: changeColor--green 0.2s ease-in-out 1;
}
